<div id="search-box"> 
  <form method="post" action="{{ url_for('search.query') }}">
    <input name="query" id="query" type="search" value="{{ query|e }}" required>
    <input type="submit" value="Query">
    <select name="sort">
      <option value="_score" {% if sort == "_score" %}selected{% endif %} >Relevance</option>
      <option value="name.keyword" {% if sort == "name.keyword" %}selected{% endif %}>Name</option>
      <option value="salesRankShortTerm" {% if sort == "salesRankShortTerm" %}selected{% endif %}>Popularity</option>
      <option value="regularPrice" {% if sort == "regularPrice" %}selected{% endif %}>Price</option>
    </select>
    <select name="sortDir">
      <option value="asc" {% if sortDir == "asc" %}selected{% endif %}>Ascending</option>
      <option value="desc" {% if sortDir == "desc" %}selected{% endif %}>Descending</option>
    </select>
     <select name="use_query_understanding">
      <option value="True" {% if use_query_understanding == "True" %}selected{% endif %}>use_query_understanding: true</option>
      <option value="False" {% if use_query_understanding == "False" %}selected{% endif %}>use_query_understanding: false</option>
    </select>
  </form>
</div>