<div id="aggregations">
  {% if search_response.aggregations  %}
  <div class="aggregations-result" style="padding-top: 30px">
    {% set aggs = search_response.aggregations %}
    {% for agg_key,agg_value in aggs.items() %}
    {% if agg_key != 'Images' %}
        <div class="agg-header">
        
        {{agg_key}}
       
        </div>

        <ul class="aggr">

        {% if request.args.get('filter.' + agg_key) == None %}
        <li class="applied-filters">All ({{agg_value.doc_count}})</a>
        {% else %}
        <li><a href="{{url_for('.query')}}?{{update_query_param('filter.' + agg_key, '')}}">All ({{agg_value.doc_count}})</a>
        {% endif %}
       {% for bucket in agg_value.buckets.buckets %}
         
         {% if request.args.get('filter.' + agg_key) == bucket.key %}
         <li class="applied-filters">{{bucket.key}} ({{bucket.doc_count}})</li>
         {% else %}
         <li>
         <a href="{{url_for('.query')}}?{{update_query_param('filter.' + agg_key, bucket.key)}}">{{bucket.key}}</a> ({{bucket.doc_count}})
         </li>
         {% endif %}
         
       {% endfor %}
        </ul>
    {% endif %}
    {% endfor %}

 
  </div>
  {#Add in Department aggregation display here #}
  <div class="aggregations-result">
    <div class="agg-header">Missing Data</div>
    
    <div>Image: {{ search_response.aggregations.Images.buckets.doc_count }}</div>
    
  </div>{% endif %}
</div>

