<div id="aggregations">
  {% if search_response.aggregations  %}<div class="aggregations-result">
  <div style="margin: 15px 0">
  <a href="{{ url_for('.query') }}" style="color: #0000ff; font-size: 16px">Clear Filters</a>
</div>
    {% set aggs = search_response.aggregations %}
    {% for agg_key,agg_value in aggs.items() %}
        <div class="agg-header">
        
        {{agg_key}}
       
        </div>

        <ul class="aggr">
       {% for bucket in agg_value.buckets %}
         
         {% if request.args.get('filter.' + agg_key) == bucket.key %}
         <li class="applied-filters">{{bucket.key}} ({{bucket.doc_count}})</li>
         {% else %}
         <li>
         <a href="{{url_for('.query')}}?{{update_query_param('filter.' + agg_key, bucket.key)}}">{{bucket.key}}</a> ({{bucket.doc_count}})
         </li>
         {% endif %}
         
       {% endfor %}
        </ul>

    {% endfor %}

 
  </div>
  {#Add in Department aggregation display here #}
  <div class="aggregations-result">
    <div class="agg-header">Missing Data</div>
    {#
    <div>image: {{ search_response.aggregations.missing_images.doc_count }}</div>
    #}
  </div>{% endif %}
</div>

