/* Search stylings */
#search-box {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#did-you-mean {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#query{
    width: 400px;
}

/* See https://css-tricks.com/snippets/css/complete-guide-grid/ for details on grid */
#all-results {
    display: grid;
    height: auto;
    grid-template-columns: repeat(24, 1fr);
}

.search-results {

}

.search-result{
    padding: 15px 0;
    margin-bottom: 25px;
    border-bottom: 1px dotted #999;
}

.search-result > img{
    padding-left: 50px;
}

.search-result-odd{
    /*background: lightgray; */
}

.search-result-name {
    font-size: x-large;
    font-weight: bold;
    padding-bottom: 5px;
}

.aggr {
    padding: 0
}
.aggr li {
   list-style: none;
   margin: 10px 0 10px 15px;
}

.aggr li a {
    color: #0000ff;
}

.aggr li.applied-filters{
   font-weight: bold;
}

#search-meta-container {
    text-align: center;
    margin: 15px 0 35px;
    
}


#aggregations-container{
    grid-column: 1 / span 4;
    font-size: 14px
}

#search-results-container{
    grid-column: 5 / span all;
}

.aggregations-result{
    margin-bottom: 10px;
}

.agg-header{
    font-weight: bold;
}

.search-result-header, .filter-header{
    font-weight: bold;
}

/*
Debug
*/
#debug{
    grid-row-start: 3;
    grid-column-start: 2;
}

#debug-response{
    display: none;
}

/*
Headers and footers

*/
#header-content {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-details-container {
    display: flex;
    flex-flow: column wrap;
    align-content: flex-start;
    flex-direction: row;
    padding-top: 15px;
}

.product-details-left {
    width: 140px
}

.product-details-right {
    max-width: 500px;
}